@import '../../Variables.scss';


.header {
    background: $background-color;
    color: $heading-text-colors;
    transition: 0.1s ease all;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}
.navlogo{
    width: 10%;
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    position:sticky;
    
    color: $heading-text-colors;
    font-family: 'inter';  
    cursor: pointer;     
}



.navbar {
    margin: 0 auto;
    position: right;
}

ul.Nav-links {
    display: flex;
    align-items: center;
    li.Nav-links {
        font-size: 22px;
        list-style: none;
        margin: 1rem;
        font-family: roboto_condensedregular;
        padding: 0%;
        cursor: pointer;     


    }

}

ul.nav-login{
    display: flex;
    li.nav-login{
    margin-right: 25px;
    list-style: none;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    text-decoration: none;
    
   }

}

.login-navTag{
    display: flex;
    margin-right: 40px;
}


.menubar {
    display: none;
    // margin-right: 1.555rem;
    z-index: 0;
    cursor: pointer;     


}

.close {
    color: $the-dot-docoration-color;
    display: none;
     cursor: pointer;     


}



 //styling for mobile devices
@media (max-width:850px) {
    .header {
        justify-content: space-between;
        margin-right: 2px;
        font-family: roboto_condensedregular;

        

    }

    .login-navTag{
    display: flex;
    margin-right: -50px;
  }

    .navbar {
        display: none;
        // transition: 1s ease;
    }

    .navbar {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: fixed;
        inset: 0;
        background: $mobile-navbar-background;
        transition: 14ms ease;
        right: 46%;
    }

    .navlogo{
    // padding: 10px;
    width: 29%;
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    position:sticky;
    
    color: $heading-text-colors;
    font-family: 'inter';       
 } 
 .logo-image {
  z-index: 99999999999;
  display: inline-block;
  margin: 20px 0 0;
  padding: 0;
  cursor: pointer;
} 


    ul.Nav-links {
        margin: 0 auto;
        align-items: block;
        flex-direction: column;
        margin-top: 250px;

        li.Nav-links {
            align-self: flex-start;
            margin-left: 50px;
            margin-block: 5px;
            font-size: 18px;
            padding: 0.9em 0;
            font-weight: 400;
            letter-spacing: 2px;
            font-family: isonormregular;
           

            a {
                font-size: 18px;
                color:$mobile-navbar-background;
                // font-weight: bolder;

//             // font-weight: bolder;
//                color: #fff;
//                text-decoration: none;
//                transition: .5s linear all;
//                border-width: 0 0 1px;
//                border-style: solid;
//                border-color: transparent;
//                padding-bottom: 2px
            }
        }
    }

   .menubar {
        color: $the-dot-docoration-color;
        display: block;
        
        .menu {
            color:  $the-dot-docoration-color;
            margin-right: 0;
            
        }
    }

    .closed{
        display: none;
    }

} 