$background-color: black;
$heading-text-colors: white ;
$the-dot-docoration-color: #ffff;
$secondary-font-color: #e8dfdf;
$icon-colors: white;
$project-background-color :#172A4E;
$mobile-navbar-background: #000000d4;
$font-family: 'prompt';

$button-colors: linear-gradient(180deg, #EEC42A 50%, #F7941E 100%);
